@import "susy";
@import "breakpoint";
@import "compass/css3";

$susy:(
  columns:12,
  gutters: 1,
  math:fluid,
  output:float,
  gutter-position:inside,
);

/*$widelayout:(
        columns:24,
        gutters: 1/4,
        math:fluid,
        output:float,
        gutter-position:inside,
);*/

//una manera de incluir codigo en un layout
//@include layout ($widelayout);

//una manera corta de incluir un layout float fluid
//@include layout(24 1/4 fluid float inside);

//una manera corta de incluir un layout
//@include layout(12 (60px 10px) split static);

//una manera de incluir codigo en un layout
//@include with-layout(12) {

  body {
    background: lightpink;
    font-family: sans-serif;
    @include container(80%);
    background-size: cover;

  }

  aside ul {
    padding: 0;

    li {
      list-style: none;
      margin: 0;

      a {
        display: block;
        padding: 10px 5%;
        text-decoration: none;
        color: crimson;
        border-bottom: 1px solid darkred;
      }
    }

  }
//}

/*una manera de definir 8 columnas
main {
  @include span(8);
  text-align: justify;
}*/

/*sintaxi breve
main {
  @include span(8 at 0 of 24 1/8);
}*/
@include breakpoint(800px) {
  main {
    @include span(8);
    text-align: justify;
  }
  aside {
    @include span(4 at 9);
  }
}

@include breakpoint(1000px) {
  @include layout (24);
  main {
    @include span(21);
    .col1,
    .col2,
    .col3 {
      @include span(4 of 12);
    }
    text-align: justify;
  }
  aside {
    @include span(3 at 21);
  }
}

